

@{
    ViewBag.Title = "Bitmiş Seçimler";
}


<div class="container">
    <h2>Admin Panel - Sonuçlanmış Seçimler</h2>
    <hr />
    <div class="alert alert-info" role="alert">
        Sonuçlanmış seçimler aşağıda listelenmiştir.
    </div>
    <hr />
</div>

<div class="container">


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Seçim ID</th>
                <th scope="col">Seçim Adı</th>
                <th scope="col">Başlangıç Tarihi</th>
                <th scope="col">Bitiş Tarihi</th>
                <th scope="col">Kazanan</th>
                <th scope="col">Aldığı Oy</th>
                <th scope="col">Durum</th>
            </tr>
        </thead>
        <tbody>
            @using (Html.BeginForm("SecimIptal", "Admin", FormMethod.Post))
            {
                foreach (var secim in Model)
                {
            <tr>
                <td>@secim.secimID</td>
                <td>@secim.secimAdi</td>
                <td>@secim.baslangicTarihi.ToString("dd.MM.yyyy HH.mm.ss")</td>
                <td>@secim.bitisTarihi.ToString("dd.MM.yyyy HH.mm.ss")</td>
                <td>@secim.adayAdi</td>
                <td>@secim.aldigiOy</td>
                <td class="alert-success">Sonuçlandı</td>

            </tr>
                }
            }

        </tbody>
    </table>



    <!--EĞER ADMİN İÇİN LİSTELENECEK HİÇ SEÇİM YOKSA. BİLGİYİ YAZDIR.-->
    @if (Model.Count == 0)
    {
        <div class="alert alert-info" role="alert">
            Listelenecek herhangi bir başlamamış seçim bulunmuyor.
        </div>
    }
    <hr />
</div>

